source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0, netstandard2.1
nuget Microsoft.NET.Test.Sdk 17.7.1
nuget Microsoft.NETCore.App.Ref 6.0.24
nuget NETStandard.Library 2.0.3
nuget System.Runtime 4.1.2
nuget System.Text.Json 7.0.3
nuget System.Threading 4.0.11
nuget NUnit 3.12.0
nuget NUnit3TestAdapter 4.4.2
nuget NUnit.Analyzers 3.6.1
nuget coverlet.collector 3.2.0
