/* Global Styles  */

@font-face {
  font-family: "Drama Sans";
  src: url("https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot"); /* IE9 Compat Modes */
  src: url("https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

a.active {
  font-weight: 700;
}

.prism-code {
  padding: 1em;
}
pre {
  overflow: auto;
  font-family: "Drama Sans";
}

.prose > pre {
  background: transparent;
}

.prose pre[class*="language-"] {
  font-family: "Drama Sans";
  /* background-color: rgba(59, 130, 246, 1); */
  background-color: transparent;
  background-size: auto;
}

.prose > pre span {
  background: white;
  padding: 1px;
}
