---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={`max-w-screen-sm md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl w-full mx-auto ${
    className || ""
  }`}
>
  <slot />
</div>
