---

import { DISCORD_INVITE_LINK } from "@/utils/constants";

---

<div class="p-4 flex flex-col gap-4 border dark:border-0 dark:bg-primary-800">
  <span>
    <strong>Need help?</strong> Check out our <a class="always-underline" href={DISCORD_INVITE_LINK}>Discord.</a>
  </span>

  <span>
    <strong>Enterprise or Open Source?</strong> Reach out directly on our <a class="always-underline" href="/services">Services</a> page.
  </span>
</div>
