[[source]]
name = "vexilla_client"
version = "1.0.1"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"

[packages]
arrow = "*"
pydantic = "*"
typing-extensions = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
