---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { getCollection } from "astro:content";

const rawBlogPosts = await getCollection("blog");

const blogPosts = rawBlogPosts.sort((a, b) => {
  return (a.data.sortOrder || 0) - (b.data.sortOrder || 0);
});
---

<div class="flex flex-row">
  <div class="flex-auto">
    <div class="prose lg:prose-xl dark:prose-invert mx-auto">
      <slot />
    </div>
  </div>

  <div class="w-80 p-2">
    <Card>
      <CardHeader>
        <CardTitle>FOOOO</CardTitle>
      </CardHeader>
      <CardContent>
        <ul class="pl-6">
          {
            blogPosts.map((blogPost) => (
              <div>{blogPost.data?.title || "hmmm"}</div>
            ))
          }
        </ul>
      </CardContent>
    </Card>
  </div>
</div>
