---
import { ViewTransitions } from "astro:transitions";
import ResponsiveContainer from "@/components/ResponsiveContainer.astro";
import { ThemeSelector } from "@/components/ThemeSelector";
import { Search } from "@/components/Search";
import clsx from "clsx";

import '@fontsource/fira-code';
import '@fontsource/atkinson-hyperlegible/400.css';
import '@fontsource/atkinson-hyperlegible/700.css';

import "@/styles/globals.css";
interface Props {
  title: string;
}

const { title } = Astro.props;

const isBlog = Astro.url.pathname.startsWith("/blog");
const isDocumentation = Astro.url.pathname.startsWith("/documentation");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/racing/stylesheet.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="fixed w-full top-0 bg-white dark:bg-black z-10">
      <ResponsiveContainer class="flex justify-between items-center px-6 py-2">
        <div class="flex flex-row items-center gap-8">
          <a class="flex items-center" href="/">
            <img
              class="rounded-full bg-slate-600 h-[36px] w-[36px] p-1 mr-2"
              src="/img/vexilla-logo.png"
            />
            <span class="m-0 font-display text-4xl">Vexilla</span>
          </a>

          <a
            href="/documentation"
            class={clsx({
              "font-bold": isDocumentation,
            })}
          >
            Documentation
          </a>
          <a
            href="/blog"
            class={clsx({
              "font-bold": isBlog,
            })}
          >
            Blog
          </a>
        </div>
        <Search client:only />
        <ThemeSelector client:only />
      </ResponsiveContainer>
    </header>

    <ResponsiveContainer class="z-1 pt-[6rem]">
      <slot />
    </ResponsiveContainer>

    <footer class="mt-auto">
      <ResponsiveContainer>
        <div class="flex items-center justify-center p-16">
          &copy; 2023 Vexilla
        </div>
      </ResponsiveContainer>
    </footer>
  </body>
</html>
