---
import Layout from "../layouts/Layout.astro";
import { HomeHero } from "../components/home/hero";
import { HomeFeatureFlags } from "../components/home/what-are-feature-flags";
import HomeHowItWorks from "../components/home/how-it-works.astro";
import { HomeFeatures } from "../components/home/features";
import { HomeDocumentation } from "../components/home/documentation";
---

<Layout title="Vexilla">
  <main class="z-1">
    <HomeHero />
    <HomeFeatureFlags />
    <HomeHowItWorks />
    <HomeFeatures />
    <HomeDocumentation />
  </main>
</Layout>
