---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/home/hero.astro";
import HomeFeatureFlags from "../components/home/what-are-feature-flags.astro";
import HomeHowItWorks from "../components/home/how-it-works.astro";
import HomeFeatures from "../components/home/features.astro";
import HomeDocumentation from "../components/home/documentation.astro";
import HomeHelp from "../components/home/help.astro";
import HomeServices from "../components/home/services.astro";
import ContributorsList from "@/components/ContributorsList.astro";
---

<Layout title="Vexilla">
  <main id="main" class="z-1">
    <HomeHero />
    <HomeFeatureFlags />
    <HomeFeatures />
    <HomeServices />
    <HomeHowItWorks />
    <HomeDocumentation />
    <HomeHelp />
    <ContributorsList />
  </main>
</Layout>
