---
import Layout from "@/layouts/Layout.astro";
import { ServicesForm } from "@/components/ServicesForm";

import { Image } from "astro:assets";
import formImage from "../images/headway-5QgIuuBxKwM-unsplash.jpg";

import SectionHr from "@/components/home/common/section-hr.astro";
import SectionTitle from "@/components/home/common/section-title.astro";
import { Icon } from "astro-icon";

const headingClasses =
  "sm:text-3xl text-2xl font-medium title-font text-emphasis mb-4";

const benefits = [
  {
    label: "SLA-driven availability",
  },
  {
    label: "Mentorship",
  },
  {
    label: "Architecture discussions",
  },
  { label: "Code Review" },
  { label: "CI/CD implementation" },
  { label: "Upgrade Assistance" },
];
---

<Layout title="Services | Vexilla">
  <main
    id="main"
    class="flex-auto flex flex-col main-content pb-10 px-4 w-screen md:w-full text-normal body-font"
    data-pagefind-body
  >
    <section class="body-font">
      <div
        class="container mx-auto flex px-5 pt-24 md:flex-row flex-col items-center"
      >
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-end md:text-right mb-16 md:mb-0 items-center text-center"
        >
          <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-emphasis"
          >
            Enterprise Services
          </h1>
          <p class="mb-8 leading-relaxed">
            Let our team help you get up and running as quickly as possible.
          </p>
          <div class="flex justify-center gap-4">
            <a
              href="#contact"
              class="inline-flex text-white bg-primary-500 border-0 py-2 px-6 hover:bg-primary-600 rounded text-lg"
            >
              Contact Us
            </a>

            <a
              href="#open-source"
              class="inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 hover:bg-gray-200 rounded text-lg"
            >
              Open Source?
            </a>
          </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <Image
            class="object-cover object-center rounded"
            src={formImage}
            width={600}
            alt="Generic image of people in a meeting"
          />
        </div>
      </div>
    </section>
    <section
      class="body-font flex flex-col md:flex-row gap-4 items-center pt-[4rem]"
    >
      <div class="md:w-1/2">
        <h2 class={headingClasses}>What's the deal?</h2>
        <p>
          While Vexilla is completely free and open-source, integrating it into
          your application and processes can take some time. This is especially
          true if you haven't worked with runtime configurable feature flags
          before.
        </p>
        <!-- <a href="#contact">Contact us</a> -->
      </div>
      <div class="md:w-1/2 md:pt-12">
        <ul class="flex flex-col gap-2">
          {
            benefits.map((benefit) => (
              <li class="flex flex-row list-none gap-4 items-center">
                <div class="flex-shrink-0 w-8 h-8 bg-slate-100 text-primary-500 rounded-full inline-flex items-center justify-center p-2">
                  <Icon name="phosphor/duotone/check-fat-duotone" />
                </div>
                {benefit.label}
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section class="text-emphasis body-font" id="open-source">
      <div class="container px-5 py-24 mx-auto flex-col flex-wrap">
        <SectionTitle>Open Source?</SectionTitle>

        <SectionHr />
        <div class="max-w-2xl mx-auto">
          <p class="leading-relaxed text-base">
            Do you have an open source project that you would like to use
            feature flags on? We are more than willing to help open source
            projects free of charge (within reason). You gain priority if we can
            help you integrate on our livestream on Twitch/YouTube. Simply
            mention this in your message to us in the form below.
          </p>
          <div class="flex md:mt-4 mt-6 justify-center">
            <a
              class="inline-flex text-white bg-primary-500 border-0 py-1 px-4 hover:bg-primary-600 rounded"
              href="#contact"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </section>

    <section
      class="flex md:flex-row items-center justify-center pt-[4rem]"
      id="contact"
    >
      <div class="md:w-1/2 p-4">
        <h2 class={headingClasses}>Get In Touch!</h2>
        <ServicesForm client:only="react" />
        <noscript>
          The form requires JavaScript to function. You can email us at:
          services [at] vexilla [dot] com
        </noscript>
      </div>
    </section>
  </main>
</Layout>
