---
import { Icon } from "astro-icon";

interface FeatureContent {
  title: string;
  description: string;
  image: string;
}
const features: FeatureContent[] = [
  {
    title: "Open Source",
    description: `Consume, contribute, or fork it. Vexilla is something you can take with you and improve or adapt to whatever situation you need.`,
    image: "phosphor/duotone/hand-heart-duotone",
    // image: "phosphor/duotone/users-three-duotone",
  },

  {
    title: "Static Hosting",
    description: `The feature flag configuration is statically hosted which saves you money and effort. It just scales.`,
    // image: "phosphor/duotone/computer-tower-duotone",
    // image: "phosphor/duotone/file-cloud-duotone",
    image: "phosphor/duotone/cloud-duotone",
  },

  {
    title: "Simple",
    description: `Many of the existing solutions require you to buy into and understand complicated documentation. Other Open source tools require you to stand up servers.`,
    image: "phosphor/duotone/flag-checkered-duotone",
  }
];

---

<section class="text-normal body-font" id="features">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-emphasis mb-4">
        Features
      </h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
        Besides just the things that feaure flags themselves offer, Vexilla
        allows you to do more with less.
      </p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-primary-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      {features.map((feature) => (
        <div
          class="p-4 md:w-1/3 flex flex-col text-center items-center"
        >
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-slate-100 text-primary-500 mb-5 flex-shrink-0 p-2">
            <Icon name={feature.image} class="w-full" />
          </div>
          <div class="flex-grow">
            <h2 class="text-emphasis text-lg title-font font-medium mb-3">
              {feature.title}
            </h2>
            <p class="leading-relaxed text-base text-left">
              {feature.description}
            </p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
