---
import { Icon } from "astro-icon";

import SectionHr from "./common/section-hr.astro";
import SectionTitle from "./common/section-title.astro";

interface FeatureContent {
  title: string;
  description: string;
  image: string;
}
const features: FeatureContent[] = [

  {
    title: "Statically Hosted",
    description: `The feature flag configuration is statically hosted which saves you money, effort, and time. Minimum effort scalability.`,
    // image: "phosphor/duotone/computer-tower-duotone",
    // image: "phosphor/duotone/file-cloud-duotone",
    image: "phosphor/duotone/cloud-duotone",
  },

  {
    title: "Git Native",
    description: `Your flags and config live in a git repository you control. This allows for auditability without the need for a server. GitOps by default.`,
    image: "phosphor/duotone/git-pull-request-duotone",
  },

  {
    title: "First-party SDKs",
    description: `Vexilla boasts the largest number of first-party SDKs for the languages you use on the frontend and backend. Less custom integrations.`,
    image: "phosphor/duotone/package-duotone",
  },

  {
    title: "Open Source",
    description: `Consume, contribute, or fork it. Vexilla is something you can take with you and improve or adapt to whatever situation you need.`,
    image: "phosphor/duotone/hand-heart-duotone",
    // image: "phosphor/duotone/users-three-duotone",
  },

  {
    title: "Simplicity",
    description: `Many of the existing solutions require you to buy into and understand complicated documentation. Other Open source tools require you to stand up servers.`,
    image: "phosphor/duotone/flag-checkered-duotone",
  }
];

---

<section class="text-normal body-font" id="features">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center">
      <SectionTitle>
        Why Vexilla?
      </SectionTitle>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-left">
        Besides just the things that feaure flags themselves offer, Vexilla
        allows you to do more with less. Here is what separates us from other feature flag tools.
      </p>
      <SectionHr />
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 lg:mb-6 gap-8">
      {features.map((feature, index) => (
        <div
          class:list={[
            `p-4 flex text-center  items-start md:items-center w-full justify-center lg:px-40 gap-2 md:gap-12`,
            { "md:flex-row-reverse": index % 2 === 1 }
          ]}
        >
          <div class:list={[
            "md:w-1/2 flex",
            { "md:justify-start": index % 2 === 1, "md:justify-end": index % 2 === 0}
          ]}>
            <div class="h-12 w-12 md:w-40 md:h-40 inline-flex items-center justify-center rounded-full bg-slate-100 text-primary-500 flex-shrink-0 p-2 md:p-6">
              <Icon name={feature.image} class="w-full" />
            </div>
          </div>
          <div class:list={[
            "md:w-1/2 text-left",
            { "md:text-left": index % 2 === 0, "md:text-right": index % 2 === 1}
          ]}>
            <h2 class="text-emphasis text-2xl title-font mb-3 font-medium mt-2 md:mt-0">
              {feature.title}
            </h2>
            <p class="leading-relaxed text-base">
              {feature.description}
            </p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
