---
import SectionHr from "./common/section-hr.astro";
import SectionTitle from "./common/section-title.astro";
---

<section class="text-emphasis body-font" id="feature-flags">
  <div class="container px-5 py-24 mx-auto flex-col flex-wrap">
    <SectionTitle> Have questions or need help? </SectionTitle>

    <SectionHr />
    <div class="max-w-2xl mx-auto">
      <p class="leading-relaxed text-base">
        Our Discord server is a great place to reach out with questions or ask
        for help. It is also a great way to meet the rest of the community and
        core team. It's completely free, so why wait?
      </p>
      <div class="flex md:mt-4 mt-6 justify-center">
        <a
          class="inline-flex text-white bg-primary-500 border-0 py-1 px-4 hover:bg-primary-600 rounded"
          href=""
        >
          Join the Discord
        </a>
      </div>
    </div>
  </div>
</section>
