---
import { getCollection, getEntryBySlug } from "astro:content";
import Documentation from "@/layouts/Documentation.astro";
import Layout from "@/layouts/Layout.astro";
import Blog from "@/layouts/Blog.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { slug } = Astro.params;

const entry = await getEntryBySlug("blog", slug || "");

const { Content } = await entry!.render();
---

<Layout title={entry?.data.title || "Blog | Vexilla"}>
  <Blog>
    <h1>{entry?.data.title}</h1>
    <Content />
  </Blog>
</Layout>
